node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
/views
dist
.idea/
.idea/workspace.xml
.gitignore~
test/to-be-redefined
ssh-configuration.js
sftpCache.json
devnotes
mongo-secrets.json
app/scripts/templates.js
.env
npm-debug.log

/lib/config/env/all.js
/lib/config/env/development.js
