<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="closeHelpAside(); $hide()">&times;</button>
                <h4 class="aside-title">Hilfe zu dieser Ansicht</h4>
            </div>
            <div class="aside-body">
                <div ng-include="help_template"></div>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="closeHelpAside(); $hide()">Schließen</button>
            </div>
        </div>
    </div>
</div>