<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h3>Einladung zur Fremdeinschätzung</h3>

                <p>Laden Sie jetzt eine Person dazu ein, Ihren Kompetenzstand einzuschätzen. Bitte füllen Sie alle Formularfelder aus.</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" name="inviteMailForm" ng-submit="inviteViaMail(inviteMailForm, c)"
                              novalidate>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="salutation">Anrede</label>

                                <div class="col-xs-9">
                                    <select class="form-control" name="salutation" id="salutation"
                                            ng-model="invitee.salutation">
                                        <option value="">-- Bitte auswählen --</option>
                                        <option value="Herr">Herr</option>
                                        <option value="Frau">Frau</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="firstname">Vorname</label>
                                <div class="col-xs-9">
                                    <input type="text" name="firstname" placeholder="Vorname" id="firstname" ng-model="invitee.firstname"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="lastname">Nachname</label>
                                <div class="col-xs-9">
                                    <input type="text" name="lastname" placeholder="Nachname" id="lastname" ng-model="invitee.lastname"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">E-Mail-Adresse</label>
                                <div class="col-xs-9">
                                    <input type="email" name="email" placeholder="E-Mail-Adresse" class="form-control" ng-model="invitee.email"
                                           required>
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <p class="help-block"
                                   ng-show="inviteMailForm.email.$invalid && inviteMailForm.email.$dirty">
                                    Bitte geben Sie eine gültige E-Mail-Adresse ein.
                                </p>

                                <p class="help-block">{{ errors.other }}</p>
                            </div>
                            <input value="Einladung verschicken" type="submit" class="pull-right btn btn-primary"/>
                        </form>
                        <button ng-click="$hide()" class="btn pull-left">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>