<div ng-include="'partials/header'"></div>
<div ng-include="'partials/main-navigation'"></div>


<div class="row">
  <div class="col-sm-12">
    <h2>PDF Generierung</h2>

    <p>Erstelle hier eine PDF-Datei mit der Auswertung deiner Kompetenzchecks</p>

  </div>
</div>

<div>
  <form ng-submit="generatePDF()">
    <div id="customers">
      <table id="tab_customers" class="table table-striped" >
        <colgroup>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
        </colgroup>
        <thead>
        <tr class='warning'>
          <th>ID</th>
          <th>Created @</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Chinna</td>
          <td>1,363,480,000</td>
          <td>March 24, 2014</td>
          <td>19.1</td>
        </tr>
        <tr>
          <td>India</td>
          <td>1,241,900,000</td>
          <td>March 24, 2014</td>
          <td>17.4</td>
        </tr>
        <tr>
          <td>United States</td>
          <td>317,746,000</td>
          <td>March 24, 2014</td>
          <td>4.44</td>
        </tr>
        <tr>
          <td>Indonesia</td>
          <td>249,866,000</td>
          <td>July 1, 2013</td>
          <td>3.49</td>
        </tr>
        <tr>
          <td>Brazil</td>
          <td>201,032,714</td>
          <td>July 1, 2013</td>
          <td>2.81</td>
        </tr>
        </tbody>
      </table>
    </div>
    <input class="btn btn-danger" type="submit" value="Generate PDF"/>


  </form>
</div>
