<div class="modal preview-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h3>Vorschau - So sieht's der Auszubildende</h3>
                <h4>{{ tabs[tabs.activeTab].title }}phase</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <ul class="pager">
                            <li class="pull-right" ng-hide="idx == check.count.b -1"><a href="" ng-click="getNextForPreview(1)">nächste</a></li>
                            <li class="text-center">Formulierung {{ idx + 1 }} von {{ check.count.b }}</li>
                            <li class="pull-left" ng-hide="idx < 1"><a href="" ng-click="getNextForPreview(-1)">vorherige</a></li>
                        </ul>
                        <div ng-repeat="stage in levelstages">
                            <div class="alert alert-info" ng-bind-html="stage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">
                        <button class="btn pull-right" style="margin-left: 10px" ng-click="$hide()">Schließen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>