<!--<table class="table progress-track-container">-->
    <!--<tr>-->
        <!--<td class="th"></td>-->
        <!--<td class="th top"><p class="progress-track-desc">Check erstellen</p></td>-->
        <!--<td class="th top"><p class="progress-track-desc">1. Selbsteinschätzung</p></td>-->
        <!--<td class="th top"><p class="progress-track-desc">Auftrag bearbeiten/Fremdeinschätzung</p></td>-->
        <!--<td class="th top"><p class="progress-track-desc">Feedback-Gespräch</p></td>-->
        <!--<td class="th top"><p class="progress-track-desc">2. Selbsteinschätzung</p></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="th">Ausbilder</td>-->
        <!--<td>-->
            <!--<span class="badge badge-step1">1</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--</td>-->
        <!--<td>-->
            <!--<span class="badge" ng-class="{'badge-step3': check.step > 2}">3</span>-->
        <!--</td>-->
        <!--<td>-->
            <!--<span class="badge" ng-class="{'badge-step4': check.step > 3}">4</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--</td>-->
        <!--<td>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<th class="th">Auszubildender</th>-->
        <!--<td>-->
            <!--<span class="badge badge-step1">1</span>-->
        <!--</td>-->
        <!--<td>-->
            <!--<span class="badge" ng-class="{'badge-step2': check.step > 1}">2</span>-->
        <!--</td>-->
        <!--<td>-->
            <!--<span class="badge" ng-class="{'badge-step3': check.step > 2}">3</span>-->
        <!--</td>-->
        <!--<td>-->
            <!--<span class="badge" ng-class="{'badge-step4': check.step > 3}">4</span>-->
        <!--</td>-->
        <!--<td>-->
            <!--<span class="badge" ng-class="{'badge-step5': check.step > 4}">5</span>-->

        <!--</td>-->
    <!--</tr>-->
<!--</table>-->