<div ng-include="'partials/header'"></div>
<div ng-include="'partials/main-navigation'"></div>
<div class="reset-password">
    <h2>Passwort zurücksetzen</h2>

    <form class="form" name="form" ng-submit="resetPassword(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
            <label>Passwort</label>

            <input type="password" placeholder="Passwort" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="6"
                   required
                   mongoose-error/>

            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                Das Passwort muss mindestens 6 Zeichen lang sein.
            </p>

            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-success': user.password == user.confirm_password && submitted,
                                          'has-error': user.password != user.confirm_password && submitted }">
            <label>Passwort wiederholen</label>

            <input class="form-control" ng-model='user.confirm_password' type="password" name='confirm_password' placeholder='Passwort' required>
            <p class="help-block" ng-show="form.confirm_password.$error.mongoose">
                {{ errors.password }}
            </p>
            <p class="help-block" ng-show="submitted && user.password != user.confirm_password">Passwörter stimmen nicht überein</p>

        </div>

        <a href="\login" class="btn btn-primary">Zum Login</a>
        <button class="btn btn-primary pull-right" type="submit">Zurücksetzen</button>
    </form>
</div>
