<form class="form form-horizontal" name="shareMailForm" ng-submit="shareViaMail(shareMailForm, checkToBeShared)" novalidate>
    <h4>Check per Mail zuweisen</h4>
    <p>Sie können einer Person einen Kompetenz-Check per Mail zuweisen. Wenn diese Person schon registriert ist, wird der Check
    in ihren Account importiert.</p>
    <div class="form-group">
        <label class="col-xs-3 control-label">E-Mail-Adresse</label>
        <div class="col-xs-9">
            <input autofocus type="email" placeholder="E-Mail-Adresse" name="email" class="form-control" ng-model="addressee.email" required>
        </div>
    </div>
    <div class="form-group has-error">
        <p class="help-block"
           ng-show="shareMailForm.email.$invalid && shareMailForm.email.$dirty">
            Bitte geben Sie eine gültige Email-Adresse ein.
        </p>

        <p class="help-block">{{ errors.other }}</p>
    </div>
    <input ng-disabled="shareMailForm.email.$invalid && shareMailForm.email.$dirty" type="submit" value="Kompetenz-Check zuweisen" class="btn btn-primary pull-right" />
    <div style="clear: both;"></div>
</form>