<div ng-include="'partials/header'"></div>
<div ng-include="'partials/main-navigation'"></div>

<div class="row">
    <div class="col-sm-12">
        <h2>Lernziele</h2>
        <p>Diese Seite listet die Lernziele auf, die sich Lernende allein oder im Gespräch mit Ausbildern und
        Ausbilderinnen gegeben haben.</p>
        <p>Zudem ist geplant, dass sich Lernende hier unabhängig von konkreten Checks notieren können, was sie
        in einem bestimmten Zeitraum erreichen wollen.</p>
        <p>Es soll die Möglichkeit geben, die Lernziele als <em>erreicht</em> zu kennzeichnen.</p>
    </div>
</div>